.app {
  display: grid;
  place-items: center;
  height: 100vh;
}

.app__body {
  display: flex;
  margin-top: 0px;
  height: 100vh;
  width: 100vw;
  border-radius: 0.35em;
}

.dark {
  background-color: rgb(32, 44, 51);
}
